* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: rgb(49, 38, 38);
  
}

/*------------------------------------------------Navbar---------------------------------------------------------*/
.navbar {
  height: 3.125rem;
  background-color: #010101;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 5px solid rgb(23, 20, 18);
}
.navbar__logo img {
  height: 3rem;
  padding: 0.5rem;
}

.navbar__list {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  padding-top: 2.8rem;
  background-color: #010101;
  transition: all 0.3s ease;
  list-style-type: none;
}
.navbar__list li {
  margin: 0 0.438rem;
}
.navbar__list a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1.9rem;
  text-align: center;
  color: #D8D8D8;
}
.navbar__button--cancel, .navbar__button--bars {
  color: #f5f5f5;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
  margin-left: 10rem;
}
.navbar__button--bars {
  display: block;
}
.navbar__button--cancel {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

#navbar__check {
  display: none;
}
#navbar__check:checked ~ .navbar__button--bars {
  display: none;
}
#navbar__check:checked ~ .navbar__list {
  left: 0;
}
#navbar__check:checked ~ .navbar__list .navbar__button--cancel {
  display: block;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 38, 38);
    border-bottom: 1px solid rgb(23, 20, 18);;
}
.introduction1 h1, p{
    text-align: center;
    color: #FAFAFA;
}
.introduction h1{
  font-size: 40px;
}
.introduction1{
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-inputs{
  text-align: left;
    background-color: #050505;
    color: #f5f5f5;
    padding: 20px;
}
.form-inputs label{
  font-size: 20px;
}
.search-bar input{
  width: 200px;
  padding: 3px;
  border-radius: 15px;
  text-align: center;
}
.search-bar button{
  border-radius: 15px;
  padding: 3px 10px;
  background-color: red;
  color: #f5f5f5;
}
.products{
    text-align: center;
    background-color: rgb(49, 38, 38);
    border-top:  2px solid rgb(23, 20, 18);
    border-bottom: 2px solid rgb(23, 20, 18);
}

.product1{
    margin-top: 20px;
}


.products{
  color: #D8D8D8;
}
.product1 button{
    border-radius: 4px;
    padding: 5px 10px;
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
}
.product2 button{
    border-radius: 4px;
    padding: 5px 10px;
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
}
.product3 button{
    border-radius: 4px;
    padding: 5px 10px;
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
}
.product4 button{
    border-radius: 4px;
    padding: 5px 10px;
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
}
.personal-shopping{
    margin-top: 30px;
}
.appointment-link a{
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
    

}
.best-reasons{
  margin-top: 20px;
}
.personal-shopping{
  text-align: center;
  background-color:  rgb(49, 38, 38);
  
  color: #D8D8D8;
}
.custom-suit{
  
  text-align: center;
  background-color: rgb(49, 38, 38);
}
.custom-suit a{
  text-decoration: none;
}
.custom-suit-link{
  padding-top: 20px;
}
.custom-suit-link a{
  color: #D8D8D8;
  border: 1px solid #2E4053;
  border-radius: 5px;
  padding: 10px 20px 10px;
  display: inline-block;
  background-color: #2E4053;
}
.shopnowlink a{
  border: 0.5px solid;
  border-color: #010101;
  color: #D8D8D8;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #2E4053;
}

.call-to-action {
  margin-top: 10px;
}

.photo
{
  margin: 20px;

}

.call-to-action{
  background-color: rgb(49, 38, 38);
  border-top: 1px solid;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.p1{
  margin: 20px;
  font-size: 20px;
}
.p2{
  text-align: center;
  color: aquamarine;
  font-size: 40px;
}
.p4 a{
  text-decoration: none;
  color: #D8D8D8;
}
.p3 img{
  margin-top: 50px;
}
.p3 h4{
  color: yellow;
  font-size: 33px;
  margin: 30px
}
footer{
  display: flex;
  justify-content: space-around;
}
footer .social-media{
  text-align: center;
}
footer .social-media li, a{
  list-style: none;
  text-decoration: none;
  color: aquamarine
 
}
footer .contact-details{
  text-align: center;
}
footer  h3{
color: orangered;
font-size: 30px;
}
footer .contact-details p{
  text-align: center;
  color: #D8D8D8;
}
/* ----------------------------------------------------------------------------1.Tablet view ------------------------------------------------------------------------*/
@media screen and (min-width: 600px) {
 
}
/* ----------------------------------------------------------------------------2.Desktop view ----------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  p {
    font-size: 1.125rem;
  }
  /*-------2.1Desktop Navbar-------*/
  .navbar {
    justify-content: space-evenly;
  }
  .navbar__list {
    display: flex;
    color: #666666;
    background-color: #2E4053;;
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    transition: none;
  }
  .navbar__list a {
    display: inline;
    font-size: initial;
    margin-top: 0;
    text-align: left;
    color: #FAFAFA;
  }
  .navbar__button--bars {
    display: none;
  }
  
}