* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: rgb(94 89 89);
  max-width: 100vw;
  
}

/*------------------------------------------------Navbar---------------------------------------------------------*/
/*---- 
  Reference: 
  Video Tutorial: Responsive Navigation Menu Bar using HTML CSS | Neumorphism UI
  URL: https://www.youtube.com/watch?v=ps575maf37Y ---*/

.navbar {
  height: 3.125rem;
  background-color: #010101;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 5px solid rgb(23, 20, 18);
}
.navbar__logo img {
  height: 3rem;
  padding: 0.5rem;
}

.navbar__list {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  padding-top: 2.8rem;
  background-color: #010101;
  transition: all 0.3s ease;
  list-style-type: none;
}
.navbar__list li {
  margin: 0 0.438rem;
}
.navbar__list a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1.9rem;
  text-align: center;
  color: #D8D8D8;
}
.navbar__button--cancel, .navbar__button--bars {
  color: #f5f5f5;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
  margin-left: 10rem;
}
.navbar__button--bars {
  display: block;
}
.navbar__button--cancel {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

#navbar__check {
  display: none;
}
#navbar__check:checked ~ .navbar__button--bars {
  display: none;
}
#navbar__check:checked ~ .navbar__list {
  left: 0;
}
#navbar__check:checked ~ .navbar__list .navbar__button--cancel {
  display: block;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-image: url(projectimages/homepage-cta-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
}

.introduction1 h1, p{
    text-align: left;
    color: #FAFAFA;
    margin-top: 50px;
    margin-bottom: 60px;
}
.introduction h1{
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.introduction1{
  margin-bottom: 20px;
 
}

.form-inputs{
  text-align: center;
    background-color: #050505;
    color: #f5f5f5;
    padding: 20px;
}
.form-inputs label{
  font-size: 20px;
  
}
.search-bar input{
  width: 300px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}
.search-bar button{
  border-radius: 5px;
  padding: 3px 10px;
  background-color: red;
  color: #f5f5f5;
}
.products {
    text-align: center;
}
.products p{
  text-align: center;
}

.product1{
    margin-top: 20px;
}


.products{
  color: #D8D8D8;
}
.products button{
    padding: 5px 20px;
    margin: 20px;
    background-color: #166ecc;
    color: #050505;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.07em;
    background-color: #00c6b5;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
 button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: orangered;
  animation-name: button;
  animation-duration: 2s; 
}

 @keyframes button {
  0% {
    background-color: red;
  }
  


}

.personal-shopping{
    margin-top: 30px;
}
.appointment-link a{
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 10px; 
    margin: 20px;
    background-color: #2E4053;
    color: #D8D8D8;
    

}
.best-reasons{
  margin-top: 20px;
}
.personal-shopping{
  text-align: center;
  background-color:  rgb(49, 38, 38);
  
  color: #D8D8D8;
}
.custom-suit{
  
  text-align: center;
  background-color: rgb(49, 38, 38);
}
.custom-suit a{
  text-decoration: none;
}
.custom-suit-link{
  padding-top: 20px;
}
.custom-suit-link a{
  color: #D8D8D8;
  border: 1px solid #2E4053;
  border-radius: 5px;
  padding: 10px 20px 10px;
  display: inline-block;
  background-color: #2E4053;
}
.shopnowlink a{
  border: 0.5px solid;
  border-color: #010101;
  color: #D8D8D8;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #2E4053;
}

.call-to-action {
  margin-top: 10px;
}

.photo
{
  margin: 20px;

}

.call-to-action{
  background-color: rgb(49, 38, 38);
  border-top: 1px solid;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.p1{
  margin: 20px;
  font-size: 20px;
}
.p2{
  text-align: center;
  color: aquamarine;
  font-size: 40px;
}
.p4 a{
  text-decoration: none;
  color: #D8D8D8;
}
.p3 img{
  margin-top: 50px;
}
.p3 h4{
  color: yellow;
  font-size: 33px;
  margin: 30px
}
footer .contact-connect{
  display: flex;
  justify-content: space-around;
  background-color: #010101;
}
footer .social-media{
  text-align: center;
}
footer .social-media li, a{
  list-style: none;
  text-decoration: none;
  color: aquamarine
 
}
footer .contact-details{
  text-align: center;
}
footer  h3{
color: orangered;
font-size: 30px;
}
footer .contact-details p{
  text-align: center;
  color: #D8D8D8;
}
.last{
  margin-top: 50px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  border-top:  0.5px solid;
  padding-top: 10px;
}
.book h1{
  text-align: center;
  margin-top: 50px;
  color: #00c6b5;
  font-family: 'Times New Roman', Times, serif;
}
.book p{
  text-align: center;
  margin-top: 30px;
}
.book{
 
  border-top: 2px red solid ;
}
.booking h2{
  margin-top: 50px;
  color: orangered;
}
.appointment-form h2{
  text-align: center;
}
.appointment-form form{
  margin-top: 20px;

}
.appointment-form label{
  color: #D8D8D8;
}
input , select {
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  width: 50%;
  padding: 12px;
}
.mainforms{
  text-align: center;
  color: #00c6b5;
}
.lastinput {
  text-align: right;
}
.lastinput input [type="sunbmit"]{
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
}
.wrapper-button{
  display: flex;
  justify-content: space-evenly;
}
input[type="reset"] {
  color: #0e7a0d;
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
}
input[type="reset"]:hover {
  background-color: #d1efe3;
}
input[type="submit"] {
  background-color: #0e7a0d;
  color: white;
  padding: 12px 20px;
  border: 1px solid #0e7a0d;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00ab66;
}
.map{
  text-align: center;
}
.customization-options h2{
  text-align: center;
  color: #00c6b5;
  font-size: 40px;
}
.customization-options{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.custom-suit{
  margin-top: 50px;
}
.suit-design-selection{
  margin-top: 50px;
}
.suit-design-selection h3{
  margin-top: 30px;
  color: orangered;
  font-size: 20px;
}
.user-input-form h3{
  margin-top: 34px;
  font-size: 28px;
  color: #00c6b5;
  margin-bottom: 20px;
}
.call-to-action{ margin-top: 40px;
padding-top: 40px}
.call-to-action h2{
  font-size: 40px;
  color: yellowgreen;
  margin-bottom: 40px;
}
.call-to-action p{
  margin-bottom: 20px;
}
.user-input-form{
  color: #00c6b5;
}
  


.suit-image {
  width: 80%;
}
.custom-suit-image{
  height: 611.683px;
}
.anh img{
  width: 80%;
  
}


.size-guide {
  margin-top: 20px;
  text-align: center;
}

.size-guide h2 {
  color: yellowgreen;
}

.size-guide p {
  color: rgb(197, 187, 187)414;
}

/* Style the Size Guide Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #010101;
  background-color: #d1efe3;
  margin: 16px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: #2e311f;
}
.custom-suit-image{
  width: auto;
}


/* ----------------------------------------------------------------------------2.Desktop view ----------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  p {
    font-size: 1.125rem;
  }
  /*-------2.1Desktop Navbar-------*/
  .navbar {
    justify-content: space-evenly;
  }
  .navbar__list {
    display: flex;
    color: #666666;
    background-color: #2E4053;;
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    transition: none;
  }
  .navbar__list a {
    display: inline;
    font-size: initial;
    margin-top: 0;
    text-align: left;
    color: #FAFAFA;
  }
  .navbar__button--bars {
    display: none;
  }
  .introduction1{
    margin-right: 70px;
  }
  .introduction1 p {
    text-align: left;
  }
  .pic img{
    margin-left: 90px;
  }
  .introduction1 h1{
    text-align: left;
    margin-bottom: 20px;
  }
  .introductions{
    margin: 50px;
    display: flex;
  }
  .introduction1 h1 p{
    text-align: left;
  }



  .products{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: auto;
    gap: 50px;
    width: 50%;
   margin-top: 2rem;
  }

  .suit-design-selection{
    display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1 1;
  }
form{
  text-align: center;
}

.custom-suit-image {
  width: 40%;
}

.suit-image{
  height: 600px  ;
}

.anh img{
  width: 40%;
}
table{
  width: 50%;
  text-align: center;
}
 .ban{
  text-align: center;
 }
 .map{
  text-align: center;
 }
 .search-bar input{
  width: 400px;
 }
}