
.logo{
    background-color: #202A44;
    
}

.nav-bar li{
list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-family: Ubuntu;
}
main .introduction1{
   background-color: #202A44;
}
.introduction  p{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F6EEEE;
    text-align: center
}
.introduction h1{
    color: #F6EEEE;
    text-align: center;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.introduction .pic{
    text-align: center;
}
label .search{
    color: red;
}
.shopping{
    margin-top: 40px;
}
form{
    margin-bottom: 40px;
}
.form-inputs{
    background-color: #9C9595;
}
.product1{
    text-align: center;
    margin-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product1 h3{
    font-size: 32px;
}
.product1 button{
    color: #F6EEEE;
   background-color: #202A44;
   border-radius: 15%;
}
.product2{
    text-align: center;
    margin-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product2 h3{
    font-size: 32px;
}
.product2 button{
    color: #F6EEEE;
   background-color: #202A44;
   border-radius: 15%;
}
.product3{
    text-align: center;
    margin-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product3 h3{
    font-size: 32px;
}
.product3 button{
    color: #F6EEEE;
   background-color: #202A44;
   border-radius: 15%;
}
.product4{
    text-align: center;
    margin-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product4 h3{
    font-size: 32px;
}
.product4 button{
    color: #F6EEEE;
   background-color: #202A44;
   border-radius: 15%;
}
.shopping a{
    text-align: center;
}
